/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

h1, p {
  margin: 0;
  padding: 10px;
}

/* Navigation Bar Styles */
nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.nav-link {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.nav-link:hover {
  background-color: #ccc;
}

/* Section Styles */
section {
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

/* Color Theme Dropdown Styles */
#colorTheme {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 16px;
}

select, option {
  padding: 10px;
  font-size: 16px;
}

/* Additional Styling */
body.black {
  background-color: black;
  color: white;
}

body.white {
  background-color: white;
  color: black;
}

body.blue {
  background-color: #001f3f;
  color: white;
}

body.green {
  background-color: #004d00;
  color: white;
}
